<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixkery.kike.api.mapper.UserMapper">

    <select id="findUsername" resultType="com.sixkery.kike.api.vo.UserVo">
        SELECT
            u.username,
            u.password,
            r.id,
            r.NAME,
            p.component,
            p.name,
            p.path
        FROM
            sys_user u
                JOIN sys_user_role ur ON u.id = ur.user_id
                JOIN sys_role r ON r.id = ur.role_id
                JOIN sys_role_permission rp ON r.id = rp.role_id
                JOIN sys_permission p ON rp.permission_id = p.id
        WHERE
            u.username = #{username} limit 1
    </select>
    <select id="findByMobile" resultType="com.sixkery.kike.api.vo.UserVo">
        SELECT
            u.username,
            u.password,
            r.id,
            r.NAME,
            p.component,
            p.name,
            p.path
        FROM
            sys_user u
                JOIN sys_user_role ur ON u.id = ur.user_id
                JOIN sys_role r ON r.id = ur.role_id
                JOIN sys_role_permission rp ON r.id = rp.role_id
                JOIN sys_permission p ON rp.permission_id = p.id
        WHERE
            u.phone = #{username} limit 1
    </select>

    <select id="findByEmail" resultType="com.sixkery.kike.api.vo.UserVo">
        SELECT
            u.username,
            u.password,
            r.id,
            r.NAME,
            p.component,
            p.name,
            p.path
        FROM
            sys_user u
                JOIN sys_user_role ur ON u.id = ur.user_id
                JOIN sys_role r ON r.id = ur.role_id
                JOIN sys_role_permission rp ON r.id = rp.role_id
                JOIN sys_permission p ON rp.permission_id = p.id
        WHERE
            u.email = #{username} limit 1
    </select>

</mapper>