<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixkery.kike.admin.mapper.RoleMapper">

    <select id="findByUserId" resultType="com.sixkery.kike.admin.entity.system.RoleDo">
        SELECT r.id,
               r.`name`
        FROM sys_user_role ur
                 LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>

    <select id="findAll" resultType="com.sixkery.kike.admin.dto.RoleDto">
        SELECT r.*,
               ru.roleCount
        FROM sys_role r
                 JOIN (SELECT role_id, count(user_id) AS roleCount FROM sys_user_role GROUP BY role_id) ru
                      ON r.id = ru.role_id
    </select>
    <select id="findMenu" resultType="com.sixkery.kike.admin.entity.system.MenuDo">
        SELECT
            m.id,
            m.parent_id,
            m.NAME
        FROM
            sys_role_menu rm
                JOIN sys_menu m ON rm.menu_id = m.id
        where rm.role_id = #{id}
    </select>

    <select id="findResource" resultType="com.sixkery.kike.admin.entity.system.ResourceDo">
        SELECT
            r.id,
            r.name,
            r.url
        FROM
            sys_role_resource rr
                JOIN sys_resource r ON rr.resource_id = r.id
        where rr.role_id = #{id}
    </select>

    <select id="delRelation">
        delete from sys_role_menu where role_id = #{roleId}
    </select>

</mapper>
